.flexOrder{
    display: flex;
    gap: 4rem;
}

.flexOrder img{
    border-radius: 50%;
}

.flexOrder:nth-child(even) p{
    order: -1;
}
/* .flexOrder:nth-child(odd) img{
    order: 2;
} */